<template>
    <Page>
        <ActionBar title="Welcome to NativeScript-Vue and Typescript!"/>
        <GridLayout columns="*" rows="*">
            <Label :text="msg" col="0" row="0"/>
            <Label text="{message}" col="0" row="0"/>
        </GridLayout>
    </Page>
</template>

<script lang="ts" >
let message:string = "Hello World" 
console.log("konsoldan " + message)
  export default {
    data() {
      return {
        msg: 'Selam!'
      }
    }
  }
</script>

<style scoped>

</style>
